<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Diário Online</title>
    <link rel="stylesheet" href="@Url.Content("~/lib/bootstrap/dist/css/bootstrap.min.css")" asp-append-version="true" />
    <link rel="stylesheet" href="@Url.Content("~/css/site.css")" asp-append-version="true" />
    <link rel="stylesheet" href="@Url.Content("~/DiarioOnline.Web.styles.css")" asp-append-version="true" />
    <link rel="stylesheet" href="@Url.Content("/lib/FontAwesome/dist/css/brands.min.css")" asp-append-version="true"/>
    <link rel="stylesheet" href="@Url.Content("~/lib/FontAwesome/dist/css/regular.min.css")" asp-append-version="true"/>
    <link rel="stylesheet" href="@Url.Content("~/lib/FontAwesome/dist/css/solid.min.css")" asp-append-version="true"/>
    <link rel="stylesheet" href="@Url.Content("~/lib/FontAwesome/dist/css/all.min.css")" asp-append-version="true" />
    <link rel="stylesheet" href="@Url.Content("~/lib/FontAwesome/dist/css/fontawesome.min.css")" asp-append-version="true" />
    <link rel="stylesheet" href="@Url.Content("~/lib/iziModal/dist/css/iziModal.min.css")" asp-append-version="true" />

    <script src="@Url.Content("~/lib/jquery/dist/jquery.min.js")"></script>
    <script src="@Url.Content("~/lib/bootstrap/dist/js/bootstrap.bundle.min.js")"></script>
    <script src="@Url.Content("~/lib/FontAwesome/dist/js/brands.min.js")"></script>
    <script src="@Url.Content("~/lib/FontAwesome/dist/js/regular.min.js")"></script>
    <script src="@Url.Content("~/lib/FontAwesome/dist/js/solid.min.js")"></script>
    <script src="@Url.Content("~/lib/FontAwesome/dist/js/all.min.js")"></script>
    <script src="@Url.Content("~/lib/FontAwesome/dist/js/fontawesome.min.js")"></script>
    <script src="@Url.Content("~/lib/jquery-ui/dist/jquery-ui-1.13.2.min.js")"></script>
    <script src="@Url.Content("~/lib/jquery-validation/dist/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/lib/iziModal/dist/js/iziModal.min.js")"></script>
    <script src="@Url.Content("~/js/site.js")" asp-append-version="true"></script>
    
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a style="color:#45F3FF" class="navbar-brand" asp-area="" asp-page="/Index">Diário Online</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link link" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        @if (TempData["Logado"]?.ToString() == true.ToString())
                        {
                            <li class="nav-item">
                                <a class="nav-link link" asp-page="/RegistroDiario/Index">Registros do diário</a>
                            </li>

                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link link" asp-area="" asp-page="/Signup">Cadastrar</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link link" asp-area="" asp-page="/Login">Entrar</a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - DiarioOnline.Web - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>